Repository Boavizta/boaviztapi, pull requests merged in 2025-07, with the labels that each got.

#404 fix(gcp): remove trailing spaces in gcp csv file
  boaviztapi/data/archetypes/cloud/gcp.csv
  boaviztapi/data/archetypes/cloud/providers.csv
Labels: bug, DATA

#393 fix(utils): fix routes v1/utils/version
  boaviztapi/main.py
  boaviztapi/routers/utils_router.py
  boaviztapi/utils/get_version.py
  tests/api/test_server.py
Labels: bug

#402 Add missing EC2 instances: g6*, r7i
  boaviztapi/data/archetypes/cloud/aws.csv
  boaviztapi/data/archetypes/server.csv
Labels: DATA
